<li>
	{{title}}

	<button class="change-save" data-id="{{id}}" data-newsave="{{save}}">
		{{#if save}}save{{else}}delete{{/if}}
	</button>
	<button class="delete-save" data-id="{{this.id}}">DELETE!</button>
 </li> 
